@charset "UTF-8";
*{
    padding: 0; margin: 0;
    font-family: 'Malgun Gothic';
}
html,body {
    width: 100%; height: 100%;
}
body {
    background-color: #94B9FC;
}
.WebWrap > div {
    display: none;
}
.WebWrap {
    padding: 16px;
}
.Login .NaviPadding {
	text-align:right;
	margin-right: 50px;
}
.Login h2 {
	
	
}
h2 {
	text-align : center;
	margin-bottom:5px;
}
.Login input[type="text"], .Login input[type="password"] {
	margin: 0;
	padding:0;
	line-height:19px;
	margin-right:5px;
}
.Login p {
	margin:0 !important;
	padding:0 !important;
	line-height:21px !important;
}
.btnBox {
	text-align:right;
	margin-top:3px;
}
input[type="button"], button {
    display: inline-block;
    padding: 4px; margin: 4px;
    border: 1px solid #000;
    background-color: #000;
    color: #FFF; border-radius: 5px;
}

input[type="text"], input[type="password"], textarea {
    display: inline-block; width: 35%;
    padding: 4px; margin: 4px;
    border: 1px solid #000;
}
.Navi {
    position: fixed;
    top:0; left: 0;
    width: 100%; height: 108px;
    background-color: #FFF;
    border-bottom:2px solid #000;
}
.BtnRed {
    border: 1px solid #700 !important;
    background-color: #B53636 !important;
}
.BtnBlue {
    border: 1px solid #120D69 !important;
    background-color: #364BB5 !important;
}
.BtnGreen {
    border: 1px solid #044C1B !important;
    background-color: #36B555 !important;
}
.BtnYellow {
    border: 1px solid #414C00 !important;
    background-color: #BFCB05 !important;
}
.NaviPadding{
    padding: 8px;
}
.HeightPadding {
    height: 108px;
}
.Item {
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom:8px;
}
.ItemText {
    padding: 8px;
}
.ItemText> h4 {
    margin-bottom: 4px;
}
.ItemText> h6 {
    margin-bottom: 12px;
}
.ItemText> p {
    margin-bottom: 14px;
}
.ItemButtons {
    margin-top: 32px;
    text-align: right;
}
.Comment {
    background-color: #FFD771;
    border-top: 1px solid #000;
}
.Comments {
    border-top:1px dotted #000;
}
.CommentItem {
    border-bottom: 1px dotted #000;
    padding: 8px;
}
.CommentItem > h4, .CommentItem >p {
    font-size: 14px;
}